@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
    font-family: 'Architects Daughter', cursive;
    letter-spacing: 2px;
    background-color: #121214;
    color: white;
}
